data/
state/
.idea
.env
*.pyc
*.pt
alficore/runs/
*~
__pycache__/
attic/
traintest/
tests/
/logs/
/alficore/logs/
.vscode/settings.json
.vscode/launch.json
fi.log
*result_files*/
nohup.out
.vscode/
sample.egg-info/
resiliency_analysis.ipynb
*.mp4
# plots*
baseline*/
yolov3_*/
license-header.txt
train/
